@font-face {
    font-family: "Arad-VF";
    src: url("Arad-VF.woff2");
    font-display: fallback;
}

@font-face {
    font-family: "Arad";
    src: url("Arad-RegularDots1.woff2");
    font-display: fallback;
}

@font-face {
    font-family: "Arad";
    src: url("Arad-BoldDots1.woff2");
    font-weight: 700;
    font-display: fallback;
}

body, .button, .back-button{
    font-family: "Arad", sans-serif;
}

pre{
     font-family: monospace !important;
}

@supports (font-variation-settings: normal) {
    body, .button, .back-button {
    font-family: "Arad-VF", "Arad", sans-serif;
    }
}


h1, h2, h3, h4{
    font-variation-settings: "DSTY" 2;
}
