.question{
    margin: .8rem;
    position: relative;
    gap: .5rem;
    padding: 14px 26px 12px 26px;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14pt;
    background-color: rgb(245, 245, 245);
  }

.content {
    display: none;
    margin-top: 10px;
}
.title {
    cursor: pointer;
    color: blue;
}

.title.active h4 {
  font-variation-settings: "wght" 700;
  transition: font-variation-settings 0.5s;
}

.normal {
  border-bottom: 0px solid rgba(0, 0, 0, 0.12);
}

.button, .button-menu {
	font-family: "Arad", sans-serif;
	font-weight: 500;
	margin: .8rem;
	position: relative;
	gap: .5rem;
	padding: 14px 26px 14px 26px;
	color: black;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 14px;
	font-size: 14pt;
	border: 0px solid black;
	background-color: rgb(254, 254, 254);
	transition: font-weight 0.5s;
}

.button:hover, .button:focus, .button-menu:hover, .button-menu:focus {
	background-color: rgb(252, 252, 252);
	transition-property: all;
	transition-duration: .1s;
	transition-timing-function: ease;
	font-weight: 700;
	font-variation-settings: 'DSTY' 2;
}

h2 {
  color: #00bb8c;
}