.h2_post {
  text-align: center;
}

.p_post {
  text-align: center;
  color:black;
  margin-bottom: 25px;
}

.img_post {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0px -10px 0px;
  border-radius: 10px;
}

.img_post_in {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 20px 00px;
  border-radius: 10px;
}

li{
    margin: 2px 0px 2px 0px;
  }

body{
    margin: 2em 25% 2em 25%;
  }