.question{
    margin: .8rem;
    position: relative;
    gap: .5rem;
    padding: 14px 26px 12px 26px;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14pt;
    background-color: rgb(245, 245, 245);
  }

  
.content {
    display: none;
    margin-top: 10px;
}
.title {
    cursor: pointer;
    color: blue;
}

.title.active h4 {
  font-variation-settings: "wght" 700;
  transition: font-variation-settings 0.5s;
}

.h2_post {
  text-align: center;
}

.p_post {
  text-align: center;
  color:black;
}

.img_post {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0px -10px 0px;
  border-radius: 10px;
}

body{
    margin: 2em 25% 2em 25%;
  }